@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
        <h1>thanks @this.Model.Name!</h1>

        @if (Model.WillAttend == true)
        {
            @:cool
        }
        else
        {
            @:noooot cooooooooooool
        }
    </div>
</body>
</html>
