<!DOCTYPE html>
<html>
<body>
    <h2>Home hllo</h2>
    <p><a href="/home/AutoProperty">AutoProperty</a></p>
    <p><a href="/home/UseExtension">UseExtension</a></p>
    <p><a href="/home/UseExtensionEnumerable">UseExtensionEnumerable</a></p>
    <p><a href="/home/UseFilterExtensionMethod">UseFilterExtensionMethod</a></p>
    <p><a href="/home/UseFilterMethod">UseFilterMethod</a></p>
    <p><a href="/home/CreateAnonArray">CreateAnonArray</a></p>
</body>
</html>




